* {
	margin: 0 auto;
}

/*div#container{
	position: fixed;
	top: 10vh;
}*/

nav {
	background-color: #4fd6dd !important;
	position: fixed;
	border: 1.6vw solid #4fd6dd;
	z-index: 1001;
	height: 20.4vh;
}

a > img[title~="qlip"] {
	position: fixed;
	/*left: 13vw; /*177px*/
	/*width: 3vw;
	top: 2vh;*/
	/*background-color: black;*/
	left: 48vw; /*656px*/
	width: 3vw;
	top: 2vh;
	transition: width left 2s;
	-moz-webkit-transition: width 2s;
	-ms-webkit-transition: width 2s;
	-o-webkit-transition: width 2s;
	webkit-transition: width 2s;
}

#nebulla-jumbotron {
	padding: 0;
	margin: 0;
}

.parallax-start, .parallax {
	background-image: url('parallax.png');
	height: 50vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

div.container {
	padding-top: 10vh;
}

@media screen and (max-width: 768px){
	.parallax-start, .parallax {
		background-image: none;
		height: 0;
	}

	div.container {
		padding-top: 20vh;
		font-size: smaller;
		font-weight: 200;
	}
}

.scrolledLogo {
	width: 2rem;
    left: 13vw;
}

#navbarSupportedContent {
	position: fixed;
	left: 39vw; /*534px;*/
	top: 12vh;
	/*left: 66.2vw; 177px
	top: 2vh;*/
}

#btn-1, #btn-2, #btn-3 {
	border-radius: 0;
}

.active {
	/*background-color: #EFEFEF;*/
	background-color: white !important;
	color: white;
}

/*#btn-1:hover, #btn-2:hover, #btn-3:hover {
	box-shadow: 0.15rem 0.15rem 0.15rem #4fd6dd;
}*/

#glip-jumbotron {
	
}

iframe {
	position: absolute;
	top: 10vh;
	width: 100px;
	height: 100px;
}

footer {
	position: fixed;
	top: 97vh;
	bottom: 0;
	background-color: #4fd6dd;
	width: 100%;
	max-width: 100%;
	z-index: 1002;
}

footer > #to-top {
	width: 2rem;
	position: absolute;
	border: white solid 4px;
	background-color: white;
	border-radius: 50%;
	right: 10px;
	top: 15%;
}

/*#to-top > i {
	position: absolute;
	left: 15px;
}*/